body{
    font-family: Arial;
}


.style-input, .style-date{
    padding: 10px;
    
}

.style-add{
    background-color: green;
    color: white;
    border: none;
    padding: 12px 30px;
    
}

.style-result,
.style-toDo{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.style-toDo{
    margin-bottom: 20px;
}

.delete-toDoList{
    background-color: rgb(140, 4, 4);
    color: white;
    border: none;
    padding: 12px 30px;
}